*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(89, 89, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card{
    width: 400px;
    height: 500px;
   background-color: white;
   border-radius: 10px;
   padding: 20px;
   text-align: center;
}
form{
    width: 100%;

}
form input{
    width: 100%;
    height: 40px;
    margin: 25px 10px 20px 10px;
    padding: 0 20px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid grey;
}
.btn{
    width: 100%;
    height: 40px;
    background-color: blue;
    color:white;
    border-radius: 5px;
    font-size: 20px;
    margin: 20px 0 ;

      
}  
.box{
    color:blue;
}
.kL{
    width: 100%;
    height: 40px;
    background-color: white;
    color: black;
    margin: 8px 0;
}
.dd166{
    width: 100%;
    height: 40px;
    background-color: blue;
    color: white;
    margin: 15PX 0;
}
.text button{
    border-radius: 5px;
    font-size: 17px;
}